/* custom style */
:root{
    --main-color:black;
    --hover-color: #0668a8;
    --button-color: #800080;
    --body-font:'lato';
    --title-font: 'Playfair Display';

    
}

/* ******************--mobile--***************** */

body{
    background:var(--main-color);
    color: white;
    width: 400px;
    margin: 0 auto;
}

/* navigation */


.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    padding: 24px;

}

ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
ul li a:hover{
    background-color: var(--hover-color);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
}


h1{
    font-family: var(--title-font);
    font-size: 2.5em;
}
.highlight{
    position: relative;
}

.highlight::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 17px;
    right: 0;
    bottom: 15px;
    z-index: -1;
    display: inline-block;
    background: var(--hover-color);

}



/* banner */
.wrapper{
    position: relative;
    overflow: hidden;
}
.banner{
    width: 400px;
    height: 600px;
    animation: zoom 6s;
}

@keyframes zoom{
    from {transform: scale(1);}
    to {transform: scale(1.5);}
}

h2, h3, li, p, button {
    font-family: var(--body-font);
}

.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding-top: 300px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.magazine {
    font-size: 13px;
    font-weight: bold;
}
.around{
    font-size: 15px;
    padding-top: 20px;
 

}
h2{
    font-size: 45px;
    padding: 20px;
}

h2 ~ h2 {
    font-weight: 1000;

}

.colorshift{
    background: -webkit-linear-gradient(0deg,#015687,#62d0e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shift 5s;
}

@keyframes shift{
    from{back-position: 0% 0%;}
    to{backg-position: 100% 0%}
}


button{
    background-color: var(--button-color);
    color: white;
}

